/* Theme selection styling */
.theme-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.theme-selection select {
    margin-left: 10px;
    padding: 5px 10px;
}

/* Classic theme */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-top: 30px;
}

.container {
    max-width: 1200px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

h1::before, h1::after, h2::before, h2::after {
    content: "";
    flex: 1;
    height: 2px; /* Adjust the height as needed */
    background-color: #333; /* Color of the separator line */
    margin: 0 20px; /* Spacing between the text and the separator */
}

h1::before, h2::before {
    margin-right: 20px;
}

h1::after, h2::after {
    margin-left: 20px;
}




p {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.3rem;
    padding-right: 30px;
    padding-left: 30px;
}

blockquote {
    padding: 20px;
    border-radius: 5px;
    border-left: 5px solid #333;
    margin: 20px 0;
    font-style: italic;
}

blockquote footer {
    display: block;
    border-radius: 5px;
    text-align: right;
    margin-top: 10px;
}

.image-section {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;
}

.image-preview {
    flex: 0 0 70%;
    text-align: center;
}

canvas {
    display: block;
    border-radius: 10px;
    max-width: 70%;
    margin: 20px auto;
    border: 1px solid #ccc;
}

.buttons {
    flex: 0 0 20%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px; /* Spacing between the input and button */
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 15px;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

.image-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.image-gallery img {
    max-width: 32%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


/* Dark theme */
body[data-theme="dark"] {
    background-color: #222;
    color: #eee;
}

body[data-theme="dark"] .container {
    background-color: #333;
}

body[data-theme="dark"] h1, body[data-theme="dark"] h2 {
    color: #ddd;
}

body[data-theme="dark"] blockquote {
    border-left-color: #888;
}

body[data-theme="dark"] footer {
    background-color: #111;
}

/* Pastel theme */
body[data-theme="pastel"] {
    background-color: #e9e3e3;
    color: #5c5c5c;
}

body[data-theme="pastel"] .container {
    background-color: #f7f2f2;
}

body[data-theme="pastel"] h1, body[data-theme="pastel"] h2 {
    color: #6a6a6a;
}

body[data-theme="pastel"] blockquote {
    border-left-color: #b4a7a7;
}

body[data-theme="pastel"] footer {
    background-color: #d3caca;
}
